@font-face {
  font-family: "TT Lakes";
  src: url(/one_four/svg/call.svg/fonts/TTLakes-Bold.woff);
}

@font-face {
  font-family: "TT Lakes Light";
  src: url(/one_four/svg/call.svg/fonts/TTLakes-Light.woff);
}

@font-face {
  font-family: "TT Lakes Medium";
  src: url(/one_four/svg/call.svg/fonts/TTLakes-Medium.woff);
}
/* /one_four */

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

button {
  border: none;
}

body {
  background-color: white;
  font-family: "TT Lakes Medium";
  font-size: 16px;
}

.aside__panel {
  width: 320px;
  height: 100vh;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
  position: fixed;
  box-shadow: 0px 0px 44px -6px;
}

.aside__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.aside__first-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  height: 90px;
}

.services__list {
  width: 75%;
  margin-top: 20px;
  line-height: 45px;
}

footer {
  width: 320px;
}

.footer__button {
  position: absolute;
  bottom: 180px;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.footer__email {
  position: absolute;
  bottom: 134px;
}

.footer__number {
  font-family: TT lakes;
  font-size: x-large;
  position: absolute;
  bottom: 90px;
}

.footer__lang {
  display: flex;
  justify-content: space-between;
  width: 35%;
  position: absolute;
  bottom: 30px;

}

.services__list-item {
  position: relative;
}

.services__list-item:hover {
  color: gray;
  cursor: pointer;
}

.footer__lang_ru:hover,
.footer__lang_en:hover,
.footer__lang_ch:hover {
  color: gray;
  cursor: pointer;
}

.services__list-item:hover:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 35px;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #41f6d7;
  border-radius: 0 4px 4px 0;
}

button img:hover {
  filter: brightness(70%);
  transition-duration: 1s;
}
